#main.pure-u    
  .header.pure-u-1
    %h1.pure-u-1
      Fatti per/da uomini.com

    %h2.pure-u
      \...o Fatti e Pupe?    
  
  .content
    .pure-g-r
      .pure-u-1-2
        .l-box
          %h3 Fast
          %p
            YUI's lightweight core and modular architecture make it scalable, fast, and robust. Built by frontend engineers at Yahoo!, YUI powers the most popular websites in the world.
      .pure-u-1-2
        .l-box
          %h3 Complete
          %p
            YUI's intuitive and well-documented API takes you from basic DOM handling to building performant and maintainable applications on desktop browsers, mobile devices, and servers.
      .pure-u-1-2
        .l-box
          %h3 Industrial Strength
          %p
            A thriving community, a carefully architected infrastructure, and a comprehensive suite of tools help you code like a pro, from simple web pages to complex web applications.
      .pure-u-1-2
        .l-box
          %h3 Free and Open
          %p
            YUI is free for all uses and is developed in the open on GitHub. Core team members can always be found in the forums and the #yui IRC channel on Freenode. Pull requests welcome!
      .pure-u-1.l-centered
        %img.pure-u{:alt => "Image of New York City used for a responsive image example.", :src => "http://vanity-press.com/wp-content/uploads/2011/09/New-York.jpg"}/

      .pure-u-1-2
        .l-box
          %p
            - @posts.each do |post|
              #{post.name}
              #{post.title}
              #{post.content}
              #{post.image}
              #{link_to 'Show', post}
              #{link_to 'Edit', edit_post_path(post)}
              #{link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } }

          %p
            #{link_to "Post it", posts_path}