#page-content.container
  #multimedia
    .row-fluid
      .span
        %h2.text-center
          Fotos

    .row-fluid
      .span.wood-box
        %ul
          - (1..11).each do |i|
            %li
              %a{:href => "http://borteo.s3.amazonaws.com/images/group1/#{i}.JPG", :rel => "lightbox[grupo1]", :title => "TITOLO-#{i}"}
                %img{:alt => "thumb-#{i}", :src => "http://borteo.s3.amazonaws.com/images/group1/thumbs/#{i}.JPG"}

- content_for(:lightbox) do
  = javascript_include_tag :smooth_scroll
  = javascript_include_tag :lightbox