#page-content.container
  #multimedia
    .row-fluid
      .span
        %h2.text-center
          Fotos

    #first-day.group
      .row-fluid
        %h3 Primero dia
      .group-content
        .row-fluid
          .span.wood-box
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group1/#{i}.JPG", :rel => "lightbox[grupo1]", :title => "#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group1/thumbs/#{i}.JPG"}

        .row-fluid
          .span.wood-box
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group2/#{i}.JPG", :rel => "lightbox[grupo2]", :title => "#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group2/thumbs/#{i}.JPG"}

        .row-fluid
          .span.wood-box
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group3/#{i}.JPG", :rel => "lightbox[grupo3]", :title => "#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group3/thumbs/#{i}.JPG"}

    #second-day.group
      .row-fluid
        %h3 Secondo dia
      .group-content
        .row-fluid
          .span.wood-box
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group4/#{i}.JPG", :rel => "lightbox[grupo4]", :title => "#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group4/thumbs/#{i}.JPG"}


- content_for(:lightbox) do
  = javascript_include_tag :smooth_scroll
  = javascript_include_tag :lightbox