#page-content.container
  #multimedia
    .row-fluid
      .span
        %h2.text-center
          Fotos

    #first-day.group
      .row-fluid
        %h3 21 Junho 2013
      .group-content
        .row-fluid
          .span.wood-box
            %h4 Herdeiros do Sertão
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group1/#{i}.JPG", :rel => "lightbox[grupo1]", :title => "Herdeiros do Sertão-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group1/thumbs/#{i}.JPG"}

        .row-fluid
          .span.wood-box
            %h4 Pé no Chão
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group2/#{i}.JPG", :rel => "lightbox[grupo2]", :title => "Pé no Chão-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group2/thumbs/#{i}.JPG"}

        .row-fluid
          .span.wood-box
            %h4 Sossego do Sertão
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group3/#{i}.JPG", :rel => "lightbox[grupo3]", :title => "Sossego do Sertão-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group3/thumbs/#{i}.JPG"}

        .row-fluid
          .span.wood-box
            %h4 Animação Junina
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group4/#{i}.JPG", :rel => "lightbox[grupo4]", :title => "Animação Junina-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group4/thumbs/#{i}.JPG"}

    #second-day.group
      .row-fluid
        %h3 22 Junho 2013
      .group-content
        .row-fluid
          .span.wood-box
            %h4 Encanto da Primavera
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group5/#{i}.JPG", :rel => "lightbox[grupo5]", :title => "Encanto da Primavera-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group5/thumbs/#{i}.JPG"}
        .row-fluid
          .span.wood-box
            %h4 Atração Junina
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group6/#{i}.JPG", :rel => "lightbox[grupo6]", :title => "Atração Junina-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group6/thumbs/#{i}.JPG"}

    #third-day.group
      .row-fluid
        %h3 23 Junho 2013
      .group-content
        .row-fluid
          .span.wood-box
            %h4 Junina Marróia
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group7/#{i}.JPG", :rel => "lightbox[grupo7]", :title => "Junina Marróia-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group7/thumbs/#{i}.JPG"}
        .row-fluid
          .span.wood-box
            %h4 Luar Sertanejo 
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group8/#{i}.JPG", :rel => "lightbox[grupo8]", :title => "Luar Sertanejo-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/grou8/thumbs/#{i}.JPG"}
        .row-fluid
          .span.wood-box
            %h4 Tradição da Roça
            %ul
              - (1..11).each do |i|
                %li
                  %a{:href => "http://borteo.s3.amazonaws.com/images/group9/#{i}.JPG", :rel => "lightbox[grupo9]", :title => "Tradição da Roça-#{i}"}
                    %img{:alt => "thumb-#{i}", :src => "/assets/loading.gif", "data-src" => "http://borteo.s3.amazonaws.com/images/group9/thumbs/#{i}.JPG"}

- content_for(:lightbox) do
  = javascript_include_tag :smooth_scroll
  = javascript_include_tag :lightbox