%footer.footer.clearfix
  .top-footer
  .container
    .row-fluid
      .span
        .row-fluid
          %ul.span2.nav-list.nav
            %li.nav-header Arraiá do Parque Dois Irmãos
            %li
              %a{:href => "/"} Home
            %li
              = link_to "Evento", evento_path
            %li
              = link_to "Programação", programacao_path
            %li
              = link_to "Multimídia", multimidia_path
            %li
              = link_to "Localização", localizacao_path
            %li
              = link_to "Contato", contato_path
          .span10.sponsor 
            %h3.text-center Nossos agradecimentos 
            %ul.span6.nav-list.sponsor
              %li.nav-header Apoio
              %li 
                %img{:src => "/assets/logo-ceara.png"}/
              %li
                %img{:src => "/assets/logo-prefeitura.png"}/
              %li
                Secretaria de Cultura de Fortaleza - Secultfor
            %ul.span4.nav-list.sponsor.sponsorship
              %li.nav-header Patrocinadores
              %li.text-center
                %img{:src => "/assets/logordosol.png"}/
              %li.text-center
                %img{:src => "/assets/logoCME.png"}/
              %li.text-center 
                %img{:src => "/assets/logoAteneu.png"}/
    %hr/
    .row-fluid.footer-bottom
      %p.span4.pull-left Copyright &copy; #{ Date.today.year }
      %p.text-right.span4.pull-right
        Made by
        %a{:href => "http://www.matteoborgato.com", :class => "author"} Borteo
  