%footer.footer.clearfix
  .top-footer
  .container
    .row-fluid
      .span7
        .row-fluid
          %ul.span5.nav-list.nav
            %li.nav-header Arraiá do Parque Dois Irmãos
            %li
              %a{:href => "/"} Home
            %li
              = link_to "Evento", evento_path
            %li
              = link_to "Programação", programacao_path
            %li
              = link_to "Multimídia", multimidia_path
            %li
              = link_to "Localização", localizacao_path
            %li
              = link_to "Contato", contato_path
          %ul.span4.nav-list
            %li.nav-header Social
      #tweets.span6.pull-right
    / row end
    %hr/
    .row-fluid.footer-bottom
      %p.span4.pull-left Copyright &copy; #{ Date.today.year }
      %p.text-right.span4.pull-right
        Made by
        %a{:href => "http://www.matteoborgato.com", :class => "author"} Borteo
  